#cont{

	width: 960px;
	height: 960px;
	border: 1px solid black;
}

#ul{
	list-style: none;
	padding-left: 6.667px;
	margin-top: 6.667px;
	margin-bottom: 6.667px;
}
.grid{
	border: 1px solid black;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 6.667px;

}

.highlight{

	background-color: #ff0000;
}